@font-face {
    font-family: "inter";
    src: "../Inter";
}

body {
    box-sizing: border-box;
    width: 100vw;
    text-align: center;
    margin: 50px auto;
    font-family: "inter";
}

/* HEADER STYLING */

header {
    display: flex;
    flex-direction: column;
    margin: 0 50px;

}
header p {
    text-align: left;
    font-size: 12px;
    color: rgb(77, 75, 75);
}

.title-info {
    border-bottom: grey 2px solid;
}

h1 {
    font-size: 20px;
}

.mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Toggle Switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* MAIN STYLING */

/* Platform Profile cards */

.platform-card {
    background-color: rgb(244, 248, 250);
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    border-top: 3px hotpink solid;
    border-radius: 2%;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(77, 75, 75);

}

.bio img {
    padding: 5px;
}

.followers .number {
    font-size: 80px;
    margin: 0;
    color: black;
}

.followers p {
    margin: 0;
    text-transform: uppercase;
    color: rgb(77, 75, 75);

}

